body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    padding: 0;
    line-height: 1;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 75;
    font-style: italic;
}

nav {
    background-color: #9966CC;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.navigaton-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: bold;
    text-transform: uppercase
    
}

header {
    top: 85px;
    margin-bottom: 150px;
    position: relative;
    line-height: 150%;
}

img {
    /*this is limiting the width of the image taking 100% width of the parent*/
    max-width: auto;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
}

body, ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px 0;
}

figcaption {
    font-size: 10px;
}

.bio-list {
    line-height: .75;
}