body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #ffbd99;
    background-color: #221b27;
}

h1 {
    font-family: "Lucida Calligraphy", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    text-shadow: 1px 2px 30px  rgba(0, 0, 0, 0.3);
    padding: 0;
    line-height: 1;
    color: black;
}

h2 {
    font-family: "Lucida Calligraphy", serif;
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 2px 30px  rgba(0, 0, 0, 0.3);
    padding: 0;
    color: black;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 75;
    font-style: italic;
}

nav {
    background-color: #38323f;
    position: fixed;
    z-index: 1;
    width: 100%;
}

a {
    color: white;
}

p {
    line-height: 150%;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.navigaton-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: bold;
    text-transform: uppercase;
}

header {
    padding: 10% -10% 0 0;
    background-image: url('../Images/b29dc7.png');
    background-repeat: repeat-x;
    background-size:cover;


}

img {
    /*this is limiting the width of the image taking 100% width of the parent*/
    max-width: auto;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

body, ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px 0;
}

figcaption {
    text-align: right;
    font-size: 10px;
    color: black;
}
.main-image {
    text-align: left;
    font-size: 10px;
    color: #ffbd99;
}

.about {
    padding: 20px 10px;
    margin: 70px 0;
}

.right-alignment {
    text-align: right;
    color:  #ffbd99;
}

.project-amethystleft {
    text-align: right;
    color: black;
}

.left-alignment {
    text-align: left;
    color: black;
}

.bio-list {
    line-height: 15px;
    margin-top: 3%;
}

.center-left-img {
    top: 10%;
    height: 95%;
    z-index: 1;
    
}

.intro-img {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    overflow: hidden;
    position: initial;
}

.project {
    margin: 70px 0;
}

.project-amethyst {
    background-color: #b29dc7;
    background-size: cover;
    padding: 20px 10px;
    margin: 70px 0;
    color: black;
}

.Experience-list {
    text-align: center;
    color: black;
}

footer {
    text-align: center;
    font-size: 10px;
    margin: 100px;
}